/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/crisprseq -profile test_screening_full,<conda/docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test screening profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data
    input             = params.pipelines_testdata_base_path + "crisprseq/testdata/full_test/samplesheet_full.csv"
    analysis          = 'screening'
    crisprcleanr      = "Brunello_Library"
    mle_design_matrix = params.pipelines_testdata_base_path + "crisprseq/testdata/full_test/drugA_drugB_vs_treatment.txt"
    library           = params.pipelines_testdata_base_path + "crisprseq/testdata/brunello_target_sequence.txt"
}

process {
    withName: BAGEL2_BF {
        ext.args = '-s 3' // Seed to avoid random errors due to a too small sample
    }
}
