/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/crisprseq -profile test_screening_bowtie,<conda/docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test screening profile with bowtie'
    config_profile_description = 'Minimal test dataset to check pipeline function when using bowtie'

    // Input data
    input                      = params.pipelines_testdata_base_path + "crisprseq/testdata/samplesheet_test.csv"
    analysis                   = 'screening'
    library                    = params.pipelines_testdata_base_path + "crisprseq/testdata/brunello_target_sequence.txt"
    bowtie                     = true
}

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]

    withName: BOWTIE2_ALIGN {
        ext.args = '--reorder'
    }

}
